<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src = "./addRecordController.js" defer></script> 
    <link rel = "stylesheet" href = "../css/styles.css">
</head>
<body>
    <!-- Navigation Bar Coding K.P. -->
    <div class = "top">
        <div class = "topbar topwhite toppadding topcard" style="letter-spacing: 4px;">
            <span class="icon bar-item"></span>
            <a href= "#home" class = "bar-item button">Book Management System</a>

            <div class= "right-topBar">
                <a href = "#list" class = "bar-item button">Book List</a>
                <a href = "#add" class="bar-item button">Add Book Entry</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- Form Second Container -->
    <div class = "addData display-container content padding">
        <h2 style="text-align: center; padding: auto; border: 2px; padding-top: 5px;">Enter Book Details</h2>
        <form class = "myform">
            <label for = "id">ID: </label>
            <input type = "text" name="id" id = "id">
            <br>
            <label for = "title">Title: </label>
            <input type = "text" name="title" id = "title">
            <br>
            <label for = "suthor">Author: </label>
            <input type = "text" name="author" id = "author">
            <br>
            <label for = "rating">Rating: </label>
            <input type = "text" name="rating" id = "rating">
            <br>
            <label for = "detail">Details: </label>
            <input type = "text" name="detail" id = "detail">
            <br>
            <input type="submit" value = "submit" onclick="adding()">
            <!-- <button type = "click" onclick="runAdd()" >ADD Record</button> -->

        </form>
    </div>
</body>
</html>