<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <script type = "module" src = "./bookListController.js" defer></script>
    <link rel = "stylesheet" href = "../css/styles.css">
</head>
<body>
    <div class = "top">
        <div class = "topbar topwhite toppadding topcard" style="letter-spacing: 4px;">
            <span class="icon bar-item"></span>
            <a href= "#home" class = "bar-item button">Book Management System</a>

            <div class= "right-topBar">
                <a href = "#list" class = "bar-item button">Book List</a>
                <a href = "#add" class="bar-item button">Add Book Entry</a>
            </div>
        </div>
    </div>
    
    <br>
    <br>
    <br>
    <br>
    <div>
        <form class = "mySearch center" id = "myform">
            <!-- <input type = "text" placeholder="Search id" id = "search">
            <button type = "submit" id = "searchbutton" onclick="searchListById()">Search By ID</button>
            <input type = "text" placeholder="Search" id = "searchAuthor">
            <button type = "submit" onclick="searchListByAuthor()">Search By Author</button> -->
            <select id = "choose" name="choose">Choose Column Name:
                <option value="id">Id</option>
                <option value="title">Title</option>
                <option value="author">Author</option>
                <option value="rating">Rating</option>
                <option value="detail">detail</option>
            </select>
            <input type = "text" placeholder="Search" id = "search">
            <button type = "submit" id = "searchbutton">Search By ID</button>
        </form>
    </div>
    <br>
    <br>
    <div id = "output-dev" style = "width: 100%;">
        <!-- <table id = "myTable">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    Rating
                </th>
                <th>
                    Details 
                </th>
            </tr>
        </table> -->
        <!-- <button type="button" onclick = "showList(); style.display = 'none'">Show</button> -->
    </div>
</body>
</html>