<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script></script>
    <link rel = "stylesheet" href = "../css/styles.css">
</head>
<body>
    <!-- Navigation Bar Coding K.P. -->
    <div class = "top">
        <div class = "topbar topwhite toppadding topcard" style="letter-spacing: 4px;">
            <span class="icon bar-item"></span>
            <a href= "#home" class = "bar-item button">Book Management System</a>

            <div class= "right-topBar">
                <a href = "./bookList.html" class = "bar-item button">Book List</a>
                <a href = "./addRecord.html" class="bar-item button">Add Book Entry</a>
            </div>
        </div>
    </div>
</body>
</html>